@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px !important;
  background: #f8f9fa;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8f9fa;
}
.main {
  flex: 1 0 auto;
}
.shorten-container {
  margin-top: 40px !important;
  margin-bottom: 90px !important;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.55);
}
.navbar-nav li {
  margin-bottom: 0 !important;
}
.user-menu {
  font-size: 1.2rem;
  color: #fff;
}
.user-menu:hover {
  color: #eee;
  transition: 0.5s;
}
.navbar {
  /* background: #1131ca !important; */
  border-bottom: 3px #005888 solid;
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
}
.navbar-toggler:hover {
  color: #eee;
  transition: 0.5s;
}
.box-shadow {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important; */
  box-shadow: none !important;
  border-radius: 0px !important;
  /* border: 1px solid #e7e7e7  !important; */
}
.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border-radius: 0px !important;
  /* border: 1px solid #e7e7e7  !important; */
}
.nextui-c-gJBdwd .ant-result-icon {
  display: none !important;
}
.ant-result {
  padding: 0 !important;
}
.ant-result-title a {
  font-size: 1.6rem !important;
  text-decoration: none !important;
  color: #000000 !important;
}
.ant-result-title a:hover {
  color: #005888 !important;
}
.nextui-c-gYbKeQ {
  padding: 0 !important;
}
.site-result-demo-error-icon {
  color: green;
}
.site-statistic-demo-card {
  padding: 18px;
}
.site-statistic-demo-card .ant-card-body {
  padding: 10px;
}
.ant-statistic-title {
  font-size: 17px;
  margin-top: 7px;
  margin-bottom: 0 !important;
}
.ant-statistic-content-value {
  font-size: 18px;
}
#nprogress .bar {
  height: 2px !important;
  background: rgb(7, 120, 212) !important;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem !important;
  font-size: 1.2rem !important;
}
.footer-distributed {
  background-color: #f1f3f4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px;
  padding: 35px 40px;
  flex-shrink: 0 !important;
}

.footer-distributed .footer-left p {
  color: #000000;
  font-size: 14px;
  margin: 0;
}

.footer-distributed .footer-right .fab {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
  cursor: pointer;
}

.footer-distributed .footer-right .fab:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center !important;
  }
  .footer-left {
    padding-bottom: 15px !important;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  .btn-group-lg > .btn,
  .btn-lg {
    padding: 0.5rem 1rem !important;
    font-size: 1.1rem !important;
  }
}
.fa-lg {
  font-size: 1.3em !important;
}
.ant-drawer-header-title {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
}
.ant-drawer-close {
  color: #fff !important;
  margin-right: 0 !important;
  font-size: 1.1rem;
}
.ant-drawer-title {
  color: #fff !important;
  font-size: 1.1rem;
}
.ant-drawer-content-wrapper {
  width: 320px !important;
}
.ant-drawer-header {
  /* background-color: #1131ca !important; */
  border-bottom: 3px #005888 solid;
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
  border-radius: 0 !important;
}
.ant-drawer-body {
  padding: 20px !important;
}

@media (max-width: 400px) {
  .ant-statistic-title {
    font-size: 17px;
  }
}

@media (max-width: 373px) {
  .ant-statistic-title {
    font-size: 16px;
  }
}

.btn-primary {
  border-bottom: 3px #005888 solid;
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
}
.btn-primary:hover {
  border-bottom: 3px #005888 solid;
  background-image: -moz-linear-gradient(#0079bb, #005888);
  background-image: -webkit-linear-gradient(#0079bb, #005888);
  background-image: linear-gradient(#0079bb, #005888);
}

.btn-manage {
  border-bottom: 3px #005888 solid !important;
  background-image: -moz-linear-gradient(#0079bb, #005888) !important;
  background-image: -webkit-linear-gradient(#0079bb, #005888) !important;
  background-image: linear-gradient(#0079bb, #005888) !important;
}
.btn-manage:hover {
  border-bottom: 3px #005888 solid !important;
  background-image: -moz-linear-gradient(#009aee, #005888) !important;
  background-image: -webkit-linear-gradient(#009aee, #005888) !important;
  background-image: linear-gradient(#009aee, #005888) !important;
}
.text-primary {
  color: #009aee !important;
}
.text-primary:hover {
  color: #005888 !important;
}
.nav-avatar {
  width: 50px !important;
  height: 50px !important;
}
.ant-avatar-string {
  font-size: 2rem;
}
ul.dropdown-menu {
  right: 5rem !important;
  top: 3rem;
}
.ant-btn-lg {
  height: 47px;
  padding: 6.4px 18px;
  font-size: 17px;
  border-radius: 2px;
}
.ant-btn-primary {
  border-color: #28a745;
  background: #28a745;
}
.ant-btn-primary:hover {
  border-color: #198754;
  background: #198754;
}

.menu {
  top: 45px;
  right: -20px;
  padding: 5px 5px;
  background: #fff;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s !important;
}
.user-menu .menu::before {
  content: '';
  position: absolute;
  top: 0;
  right: 32px;
  width: 20px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
}
.user-menu .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
}
.user-menu .menu span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}

.user-menu .menu ul li {
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.user-menu .menu ul li i {
  max-width: 15px;
  padding-top: 0.1rem;
  opacity: 0.5;
  transition: 0.5s;
}
.user-menu .menu ul li:hover i {
  opacity: 1;
}
.user-menu .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 15px !important;
  transition: 0.5s !important;
}
.dropdown:hover > .dropdown-menu {
  display: block !important;
  margin-top: 0.05rem !important;
  background-color: #ffffff !important;
}
.nav-item-mobile .nav-link {
  display: inline-block;
  text-decoration: none;
  color: #000 !important;
  font-weight: 500;
  font-size: 15px !important;
  transition: 0.5s !important;
}
.nav-item-mobile .nav-link i {
  max-width: 15px;
  padding-top: 0.1rem;
  opacity: 0.5;
  transition: 0.5s;
}
.nav-item-mobile .nav-link:hover i {
  opacity: 1;
}
.guest-section .ant-result-content {
  background-color: #fff !important;
}
.section-hero {
  max-height: 680px;
  padding-left: 10%;
  padding-right: 10%;
}
.section-hero h2 {
  font-weight: 600;
  white-space: nowrap;
  font-size: clamp(1.5rem, 5vw, 4rem);
  margin-bottom: 0.5rem;
}

.section-hero p {
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.section-faq {
  padding-bottom: 20px;
}
.section-faq h2 {
  font-weight: 600;
  white-space: nowrap;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin-bottom: 0.5rem;
}
.accordion-button {
  font-size: clamp(1rem, 1.5vw, 1.1rem) !important;
}
.accordion-body {
  font-size: clamp(0.9rem, 1.5vw, 1rem) !important;
}
.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #f8f9fa;
}

.nextui-c-ioOuFC {
  --nextui--inputPlaceholderColor: #333333;
  --nextui--inputBorderColor: #333333;
}
.url-details .ant-result-icon {
  display: none !important;
}
.url-details .ant-result-title a {
  font-size: 2.1rem !important;
  font-weight: bold !important;
  cursor: pointer !important;
}
.url-details .ant-result-title a:hover {
  color: #005888 !important;
}
.ant-card .ant-card-bordered {
  border: unset !important;
}
.urls-main .row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
